.divOne {
    color: rgb(204, 17, 57);
    font-size: 20px;
}
.divTwo {
    font-size: 50px;
    
}

.section-flex-item{
    flex: 1 1 auto /* flex-grow: 1, flex-shrink: 1, flex-basis: auto*/
}
.sectionContainer{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: coral;
    border: rgb(86, 86, 86);
    height: 100px;
    width: 250px;
}