
.homepage-background {
    background-color:#1e1e1e;
    font-family: 'JetBrains Mono', monospace;
    color: #d4d4d4;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}



