
/* background stuff*/
.homepage-background {
    background-color: #f5f5f4;
    font-family: 'JetBrains Mono', monospace;
    color: #0a0a0a;
    display: flex;
    flex-direction: column;
    gap: 64px;
    
}
/* container for the page heading*/
.navigation-bar{
    display: flex;
    position: fixed;
    top: 0;
    width:100%;
    flex-wrap: nowrap;
    flex-direction: row;
    color: #f5f5f4;
    background-color:#0a0a0a;
    border-bottom: 3px solid #00ff88;
    font-family: 'JetBrains Mono', monospace;
    text-align:left;
}
.navigation-bar-title{
    text-wrap: nowrap;
    font-size:20px;
    flex: 1 0 0%;
    
}


/* Dropdown button tools*/
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-button:hover, .dropDownButton:focus {
  background-color: #00cc69;
  color:#0a0a0a;
}
.dropdown-button {
    font-family: 'JetBrains Mono', monospace;
    font-weight: bolder;
    border: 3px solid #0a0a0a;
    background-color:  #80807f;
    color: #f5f5f4;
    padding:2px;
    width: 150px;

}
.dropdown-content a:hover {
    border: 1px solid #00cc69;;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f5f5f4;
    color: #0a0a0a;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
  color: #0a0a0a;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.show {
    display:block;
}
.subpage-container {
    background: rgb(49, 48, 52);
    height: 30px;
    width: 200px;
    flex-wrap: wrap;
    flex: 1 0 auto;
    
}
/* Title text and title image containers*/
.homepage-heading {
    display: flex;
    flex-wrap: nowrap;
    text-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 64px

}
.heading1 {
    font-size:64px;
    max-width: 700px;
    margin: 0 auto;
    font-weight: bolder;
    text-align: center;
}

.heading1-subtext {
    font-size:16px;
    max-width: 600px;
    margin: 0 auto;
    color: #858585;
    line-height: 1.6;    /* space between lines */
    margin-top: 12px;
}
.homepage-heading img {
    flex-wrap: nowrap;
    width: 500px;
    height: 300px;
    object-fit: cover;
    border: 4px groove #858585;

}