
/* container for the page heading*/
.navigation-bar{
    display: flex;
    position:sticky;
    top: 0;
    flex-wrap: nowrap;
    flex-direction: row;
    color: #f5f5f4;
    font-family: 'JetBrains Mono', monospace;
    text-align:center;
    align-items: center;
    gap: 32px;
    background-color:#0a0a0a;
    border-bottom: 3px solid #00ff88;
}
.navigation-bar-title{
    flex-wrap:wrap;
    text-wrap: nowrap;
    font-size:20px;
    flex: 1 0 0%;
    
}

/* containers for links to each subpage*/
.subpage-container{
    column-gap: 16px;
    row-gap: 8px;
    display:flex;
    font-size:18px;
    flex-wrap:nowrap;
}
.subpage-container div{
    background: rgb(49, 48, 52);
    height: 30px;
    width: 200px;
    flex-wrap: wrap;
    flex: 1 0 auto;
    
}
/* Title text and title image containers*/
.homepage-heading1 {
    display: flex;
    flex-wrap: nowrap;
    text-wrap: wrap;
    gap: 64px;
}
.heading1 {
    font-size:64px;
    max-width: 850px;
    margin: 0 auto;
    font-weight: bolder;
    text-align: center;
}

.heading1-subtext {
    font-size:16px;
    max-width: 600px;
    margin: 0 auto;
    color: #858585;
    line-height: 1.6;    /* space between lines */
    margin-top: 12px;
}
.homepage-heading1 img {
    display: flex;
    flex-wrap: nowrap;
    width: 750px;
    height: 500px;
    object-fit: cover;
    border: 4px groove #858585;

}