/* main: acts as an interface for seperate css style sheets(stuctured for readability)*/
@import 'base.css';
@import 'layouts.css';
@import 'components.css';
a:link{ 
    text-decoration: none; 
    text-decoration-line: none;
    background-color: transparent;
    color: #d4d4d4;
}